<form action = "action_page.php">
 
     <div class= "container" >
  
          <h1> Register </h1>
  
          <p> Iltimos uz Arizanggizni Tuldiring</p>
        <hr>
        <label><b>FullName</b></label>
        <input type="text" placeholder="Enter FullName" name="fullName" required>
        <hr /><br />

        <label><b>Gender</b></label>
        <input type="text" placeholder="Enter Gender" name="gender" required>
        <hr /><br />

        <label><b>Brithday</b></label>
        <input type="text" placeholder="Enter Brithday" name="brithday" required>
        <hr /><br />

        <label><b>MaritalStatus</b></label>
        <input type="text" placeholder="Enter MaritalStatus" name="maritalStatus" required>
        <hr /><br />

        <label><b>PINFLNumber</b></label>
        <input type="text" placeholder="Enter PINFLNumber" name="PINFLNumber" required>
        <hr />

        <label><b>Region</b></label>
        <input type="text" placeholder="Region" name="region" required>
        <hr>
        <br />
        
        <label><b>District</b></label>
        <input type="text" placeholder="District" name="district" required>
        <hr>
        <br />
        
        <label><b>Mahalla</b></label>
        <input type="text" placeholder="Mahalla" name="mahalla" required>
        <hr>
        <br />
       
        <label for="email"><b>PostalAddress</b></label>
        <input type="text" placeholder="PostalAddress" name="postalAddress" required>
        <hr>
        <br />
     
        <label><b>PhysicalAddress</b></label>
        <input type="text" placeholder="PhysicalAddress" name="physicalAddress" required>
        <hr>
        <br />
      
        <label><b>PhoneContact</b></label>
        <input type="text" placeholder="PhoneContact" name="phoneContact" required>
        <hr>
        <br />
       
        <label for="email"><b>EmailAddress</b></label>
        <input type="text" placeholder="EmailAddress" name="emailAddress" required>
        <hr>
        <br />
      
        <label><b>ForTwoYears</b></label>
        <input type="checkbox" placeholder="ForTwoYears" name="forTwoYears" required>
        <hr><br />
      
        <label><b>ForFourteenYears</b></label>
        <input type="checkbox" placeholder="ForFourteenYears" name="forFourteenYears" required>
        <hr><br />
      
        <label><b>Support</b></label>
        <input type="checkbox" placeholder="Support" name="support" required>
        <hr><br />
      
        <label><b>Signature</b></label>
        <input type="text" placeholder="Signature" name="signature" required>
        <hr><br />
      
        <label><b>Date</b></label>
        <input type="date" placeholder="Date" name="date" required>
        <hr><br />
      
        <label><b>OfficialName</b></label>
        <input type="text" placeholder="OfficialName" name="officialName" required>
        <hr><br />
       
        <label><b>OfficialDisignation</b></label>
        <input type="text" placeholder="OfficialDisignation" name="officialDisignation" required>
        <hr><br />
       
        <label><b>OfficialSignatrue</b></label>
        <input type="text" placeholder="OfficialSignatrue" name="officialSignatrue" required>
        <hr><br />
      
        <label><b>OfficialDate</b></label>
        <input type="date" placeholder="OfficialDate" name="officialDate" required>
        <hr><br />
       
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        <button type="submit" class= "registerbtn" > Register </button>
    </div >

    <div class= "container signin" >
 
         <p> Already have an account? <a href="#">Sign in</a>.</p>
    </div>
</form>